In [ ]:
def hello():
    print("Vipu")

In [ ]:
hello

In [ ]:
def add(name = 'Default'):
    print(f'Hello {name}')

In [ ]:
add()

In [ ]:
def adds(num1, num2):
    return num1+num2

In [ ]:
result = adds(10, 20)

In [ ]:
result

In [ ]:
def addition(a,b):
    print (a+b)
    return a+b

In [ ]:
addition(10, 30)

In [ ]:
addition('10', '20')

# Logics

In [ ]:
2 % 2

In [ ]:
41%4

In [ ]:
20 % 2== 0

In [ ]:
def even_check(number):
    result = number % 2 == 0
    return result

In [ ]:
even_check(20)

In [ ]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
    else:
        pass
    return False

In [ ]:
check_even_list([1,2,3,4,45,5])

In [ ]:
check_even_list([1,2,5])

In [ ]:
def even_check_li (num_list):
    even_num = []
    for number in num_list:
        if number % 2 == 0:
            even_num.append(number)
    else:
        pass
    return even_num

In [ ]:
even_check_li([1,2,3,4,4])

In [ ]:
# Unpacking Tuple

In [ ]:
stock = [('a', 100), ('g', 200), ('v', 300)]

In [ ]:
for item in stock:
    print(item)

In [ ]:
for ticker,price in stock:
    print(ticker,price +(10* price))

In [ ]:
work_hours = [('a', 100), ('b', 400), ('c', 800)]

In [ ]:
def eotm(work_hours):
    cm = 0
    eom = ''
    for employee, hours in work_hours:
        if hours > cm:
            cm = hours
            eom = employee
        else:
            pass
    return (eom, cm)

In [ ]:
result = eotm(work_hours)

In [ ]:
result

In [ ]:
type(work_hours)

In [55]:
ex = [1,2,3,4,5]

In [10]:
from random import shuffle

In [59]:
result = shuffle(ex)

In [60]:
result

In [61]:
def sh_list(mylist):
    shuffle(mylist)
    return mylist

In [62]:
result = sh_list(ex)

In [64]:
result

[3, 1, 4, 2, 5]

In [65]:
mylis = ['', '0', '']

In [66]:
sh_list(mylis)

['', '', '0']

In [5]:
def player_guess():
    guess = ''
    while guess not in ['0', '1', '2']:
        guess = input("pick: 0, 1, 2")
    return int(guess)

In [6]:
player_guess()

1

In [7]:
myindex = player_guess()

In [8]:
def checkg (mylis, guess):
    if mylis[guess] == '0':
        print("correct")
    else:
        print("wrong")
        print(mylis)

In [ ]:
mylis = ['0', '', '']
mix = shuffle(mylis)
guess = player_guess()
checkg(mix, guess)

In [13]:
#args & kwargs

In [16]:
def myfunc (a,b):
    #return 5% of the sum a and b
    return sum((a,b))*0.05

In [17]:
myfunc(40,60)

5.0

In [18]:
def myfunc(*args):
    return sum(args) * 0.05

In [19]:
myfunc(40,60,50,4555)

235.25

In [25]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('fruit is {}'.format(kwargs['fruit']))
    else:
        print('ok')

In [26]:
myfunc(fruit = 'apple')

{'fruit': 'apple'}
fruit is apple

In [28]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like to have {} in {}'.format(args[0], kwargs['food']))

In [29]:
myfunc(10,20,30, fruit ='orange', food= 'eggs', animal = 'dogs')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dogs'}
I would like to have 10 in eggs

In [32]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky